<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/4a594eca5a.js"></script>
    <script src="scripts.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerulean Bee</title>
</head>

<body>
    <div class="mainbg"></div> <!-- main background -->

    <!--NAVIGATION BAR START-->
    <nav>
        <div class="logo">
            CERULEAN BEE
        </div>

        <ul>
            <!-- navigation bar items-->
            <li>
                <label for="btn-1" class="show"></label>
                <a href="index.html">HOME</a>
                
            </li>
            <li>
                <label for="btn-2" class="show"></label>
                <a href="artwork.html">ARTWORK ORDERS</a>
                
            </li>
            <li>
                <label for="btn-3" class="show"></label>
                <a href="print.html">PAINT ORDERS</a>
                
            </li>
            <li>
                <label for="btn-4" class="show"></label>
                <a href="employee.html">EMPLOYEE LOGS</a>
                
            </li>
        </ul>
    </nav> <!-- NAVIGATION BAR END-->


    <!-- CONTENT START-->
    <div class=container>
        <main>
            <p1> EMPLOYEE PAGE </br></p1>
            <p2>CPSC531 PROJECT</br></p2>
        </main>


    <footer></footer>
    </div>

</body>

</html>