<!DOCTYPE html>

{% include "header.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee Work Log</title>
</head>
<body>

    <h1 style="margin:60px 0px 10px 30px">Edit Employee Work Log</h1>

    <form action="{{ url_for('edit_employee_work_log') }}" method="POST">

        <input hidden="hidden" name="id" value="{{employee_work_log.id}}">

        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Employee: {{employee_work_log.employee}}</p>
                    <input name="employee" type="text" value = {{employee_work_log.employee}}><br>
                </div>
                <div class="col">
                    <p>Phone: {{employee_work_log.phone}}</p>
                    <input name="phone" type="text" value = {{employee_work_log.phone}}><br>
                </div>
                <div class="col">
                    <p>Full/Part Time: {{employee_work_log.full_part_time}}</p>
                    <input name="full_part_time" type="text" value = {{employee_work_log.full_part_time}}><br>          
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>Date: {{employee_work_log.date}}</p>
                    <input name="date" type="date" value = {{employee_work_log.date}}><br>
                </div>
                <div class="col">
                    <p>Start Time: {{employee_work_log.start_time}}</p>
                    <input name="start_time" type="time" value = {{employee_work_log.start_time}}><br>
                </div>
                <div class="col">
                    <p>Project: {{employee_work_log.project}}</p>
                    <input name="project" type="text" value = {{employee_work_log.project}}><br>
                </div>
                <div class="col">
                    <p>Art Item: {{employee_work_log.art_item}}</p>
                    <input name="art_item" type="text" value = {{employee_work_log.art_item}}><br>
                </div>
                <div class="col">
                    <p>Task: {{employee_work_log.task}}</p>
                    <input name="task" type="text" value = {{employee_work_log.task}}><br>
                </div>
                <div class="col">
                    <p>End Time: {{employee_work_log.end_time}}</p>
                    <input name="end_time" type="time" value = {{employee_work_log.end_time}}><br>
                </div>
            </div>
            <br>
            <button type="submit">Done</button>
        </div>
    </form>
</body>
</html>
